body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.saveBtn {
  height: 55px; 
  width: 50px; 
  border-left: 1px solid black;
  background-color: #06AED5;
  color: white;
  padding: 0px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

th {
  width: 150px; 
}

.editableText {
  width: 800px; 
}
.center {
  margin-left: auto;
  margin-right: auto;
}

#update {
  text-align:center;
  color: red; 
}